
.checkboxcolor{
    color: #ECAB3E
}
.profileform{
  background: url("https://firebasestorage.googleapis.com/v0/b/portfoliopix-7a60a.appspot.com/o/topo.jpg?alt=media&token=f9eb6a53-6ae2-4f09-a019-a9dbdedd110f") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ECAB3E;
  background-blend-mode:color-burn;
  font-family:'Montserrat', sans-serif 
}
.day{
    font-family: 'Montserrat', sans-serif;
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;
    color: #ECAB3E
}

div.maincontainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileform>div>form{
    text-align: center;

    padding: 30px;
   
}

.profileform>div>form>label{
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;
}

label .label-text {
    color: #ECAB3E;
    cursor: text;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
  }

  label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
  }

  label input:focus {
    max-width: 100%;
    width: 400px;
  }

  label input:focus + .label-text {
    color: #F0F0F0;
    font-size: 13px;
    margin-top: 10px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }

  label input:valid + .label-text {
    font-size: 13px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }

  .profileform>div>form>button {
    background: transparent;
    color: #ECAB3E;
    border: 2px solid #ECAB3E;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 20px 75px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .profileform>div>form>button:hover, button:focus {
    background-color: white;
    color: #333333;
  }