
    .card{
        background-color: rgb(238, 234, 234);
        border-radius: 4px;
        overflow: hidden
    }
    .card-top{
        margin:0px;
        color: whitesmoke;
        background-color: blue;
        padding: 12px;
        text-align: center;
}
.card-details{
    margin: 12px;
    border-radius: 4px;
    background-color: white;
    max-width: 100%;
    font-size: 10px;

}
.card-details>p{
    padding:5px;
}

.card>div>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}