.bg{
    
    background-color: #468097;
   
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  color:#1d2227;
  padding: 30px;


}

.title {
    font-size: 18px;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    
  }

  .a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

/* .card-top {
  margin: 0px;
  color: black;
  background-color: red;
  padding: 12px;
  text-align: center;
}
.card-details {
  margin: 12px;
  border-radius: 4px;
  background-color: white;
  max-width: 100%;
  font-size: 10px;
}
.card-details > p {
  padding: 5px;
}

.card > div > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
