.bg{
    
    background-color:white;
    
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  /* max-height: 500px; */
  /* margin: auto; */
  height: auto;
  text-align: center;
  color:#1d2227;
  padding: 30px; 
  
}

.title {
    font-size: 18px;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    
  }

  .a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  #backgroundFull {
    background: url("https://firebasestorage.googleapis.com/v0/b/portfoliopix-7a60a.appspot.com/o/topo.jpg?alt=media&token=f9eb6a53-6ae2-4f09-a019-a9dbdedd110f") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-color: #ECAB3E; */
    /* background-color: #468097 ; */
    background-blend-mode:hard-light;
    background-color:#388050;
    font-family:'Montserrat', sans-serif;
    height: 100vh;
  }

